<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Primo esercizio</h3>
            <p>Stai costruendo un applicazione per gestire una lista di server.</p>
            <p>Di seguito le attività da svolgere insieme</p>
            <ul>
                <li>All'interno di quest'ultimo, inserisci due componenti <b>server</b></li>
                <li>Prova a inserire il template di <b>servers</b> inline</li>
                <li>Prova a colorare il titolo h3 di servers di blu con lo stile css</li>
                <li>Usa lo stile inline</li>
            </ul>

            <p>Di seguito, le attività da provare a svolgere da solo</p>
            <ul>
                <li>
                    Aggiungi un component header, usa il codice delle navbar di bootstrap per impostare l'html
                    <a href="https://getbootstrap.com/docs/4.4/components/navbar/">che trovi qui</a>
                    <figure class="highlight">
        <pre><code class="language-html" data-lang="html">
        <span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"navbar navbar-light bg-light"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"navbar-brand mb-0 h1"</span><span class="nt">&gt;</span>Navbar<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;/nav&gt;</span></code></pre></figure>
                </li>
                <li>
                    Aggiungi un pulsante "home" che mandi all'homepage della tua azienda.
                </li>
            </ul>
        </div>
    </div>
</div>
