<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Utenti</a>
        </li>
      </ul>
    </div>
  </div>
  <div class=" mt-3 row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <app-home></app-home>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <app-users></app-users>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <app-servers></app-servers>
    </div>
  </div>
</div>
