<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Terzo esercizio - Usiamo le directives built in</h3>
            <p>Esercizi che svolgeremo insieme</p>
            <ul>
                <li><b>ngIf</b>: Facciamo visualizzare il paragrafo che stampa <code>serverCreationStatus</code> solo dopo che l'utente ha premuto il pulsante </li>
                <li><b>ngIf</b>: mostriamo come fare un else</li>
                <li><b>ngStyle</b>: Randomizziamo lo stato online/offline del server, e mostriamo un background o verde o rosso</li>
                <li><b>ngClass</b>: Usiamo le classi di bootstrap per il background</li>
                <li><b>ngFor</b>: Creaiamo un array di server e stampiamoli, invece di stampare due server statici</li>
                <li>Stilizziamo un po' usando le classi di bootstrap</li>
            </ul>
            <p>Esercizio da svolgere da solo:</p>
            <ul>
                <li>Aggiungi un ulteriore pulsante in <code>servers.components.html</code> che rende visibile o meno il blocco per inserire un nuovo server</li>
                <li>Se non hai creato nessun server, mostra la dicitura in un paragrafo "nessun server creato"</li>
                <li>Inserisci la dicitura che conta quanti Server hai creato solo quando ne hai creato uno. Ovviamente nascondi "nessun server creato" in questo caso</li> 
                <li><b>Prova a fare un po' di refactoring.</b> Rimuovi <code>serverCreationStatus</code>, il suo paragrafo e la relativa logica</li>
                <li>Se i server creati sono più di 5, stampa il numero in rosso</li>
            </ul>
            <app-servers></app-servers>
        </div>
    </div>
</div>
